{:catchpocket/datomic-uri "datomic:dev://localhost:4334/merkdo",
 :catchpocket/schema-file
 "resources/config/merkdo/stillsuit-congfig.edn",
 :catchpocket/references
 {:account/brand-group
  #:catchpocket{:reference-to :brand-group, :backref-name :_accounts},
  :account/country
  #:catchpocket{:reference-to :country, :backref-name :_accounts},
  :conto/account
  #:catchpocket{:reference-to :account, :backref-name :_contos},
  :conto/currency
  #:catchpocket{:reference-to :currency, :backref-name :_contos},
  :conto/from-account
  #:catchpocket{:reference-to :account, :backref-name :_contos},
  :conto/from-currency
  #:catchpocket{:reference-to :currency, :backref-name :_contos},
  :currency/account
  #:catchpocket{:reference-to :account, :backref-name :_currencies},
  :currency/brand-group
  #:catchpocket{:reference-to :brand-group,
                :backref-name :_currencies},
  :currency/country
  #:catchpocket{:reference-to :country, :backref-name :_currencies},
  :exchange-rate/from
  #:catchpocket{:reference-to nil, :backref-name :_exchange_rates},
  :exchange-rate/to
  #:catchpocket{:reference-to nil, :backref-name :_exchange_rates},
  :transaction/account
  #:catchpocket{:reference-to :account, :backref-name :_transactions},
  :transaction/conto
  #:catchpocket{:reference-to :conto, :backref-name :_transactions},
  :transaction/currency
  #:catchpocket{:reference-to :currency, :backref-name :_transactions},
  :transaction/transfer
  #:catchpocket{:reference-to :transfer, :backref-name :_transactions},
  :transfer/from-account
  #:catchpocket{:reference-to :account, :backref-name :_transfers},
  :transfer/from-currency
  #:catchpocket{:reference-to :currency, :backref-name :_transfers},
  :transfer/to-account
  #:catchpocket{:reference-to :account, :backref-name :_transfers},
  :transfer/to-currency
  #:catchpocket{:reference-to :currency, :backref-name :_transfers}},
 :catchpocket/enums
 {:account_type
  #:catchpocket.enum{:scan? true, :attributes #{:account/type}},
  :transaction_type
  #:catchpocket.enum{:scan? true, :attributes #{:transaction/type}},
  :transfer_direction
  #:catchpocket.enum{:scan? true, :attributes #{:transfer/direction}}},
 :stillsuit/compile? true}
