{:description
                          "This file contains map with keys equal to idents of all entities from DB of type 'db.type/ref'. When created first time all values of map are :ref and for enums should be manualy changef to :enum. When DB schema changes new idents will be added to map with value :new, and should be changed manualy to :ref or :enum. Any key in map that don't exist in DB will be changed to :missing, and sholud be deleted from map manualy.",
 :abstractRelease/artists :new,
 :abstractRelease/type    :new,
 :account/brand-group     :_missing,
 :account/country         :_missing,
 :account/type            :_missing,
 :artist/country          :new,
 :artist/gender           :new,
 :artist/type             :new,
 :conto/account           :_missing,
 :conto/currency          :_missing,
 :conto/from-account      :_missing,
 :conto/from-currency     :_missing,
 :currency/account        :_missing,
 :currency/brand-group    :_missing,
 :currency/country        :_missing,
 :exchange-rate/from      :_missing,
 :exchange-rate/to        :_missing,
 :label/country           :new,
 :label/type              :new,
 :medium/format           :new,
 :medium/tracks           :new,
 :release/abstractRelease :new,
 :release/artists         :new,
 :release/country         :new,
 :release/labels          :new,
 :release/language        :new,
 :release/media           :new,
 :release/packaging       :new,
 :release/script          :new,
 :track/artists           :new,
 :transaction/account     :_missing,
 :transaction/conto       :_missing,
 :transaction/currency    :_missing,
 :transaction/transfer    :_missing,
 :transaction/type        :_missing,
 :transfer/direction      :_missing,
 :transfer/from-account   :_missing,
 :transfer/from-currency  :_missing,
 :transfer/to-account     :_missing,
 :transfer/to-currency    :_missing}
