{:catchpocket/datomic-uri "local-dev",
 :catchpocket/schema-file
 "resources/config/decomposing-a-query/stillsuit-config.edn",
 :catchpocket/references {},
 :catchpocket/enums {},
 :stillsuit/compile? true}
