{:catchpocket/generated-at "Fri Oct 16 08:25:46 CEST 2020"
 :catchpocket/version "0.1"
 :enums {}
 :interfaces {:DatomicEntity {:fields {:dbId {:description "Base type for datomic entities" :type ID}}}}
 :mutations {}
 :objects
 {:Movie
  {:description "Entity containing fields with the namespace `:movie`"
   :fields
   {:db_id {:description "Unique :db/id value for a datomic entity" :type :JavaLong}
    :genre {:description "The genre of the movie\n\n> datomic attribute: `:movie/genre`. Type `:db.type/string`."
            :resolve     [:stillsuit/ref #:stillsuit{:attribute :movie/genre :lacinia-type String}]
            :type        String}
    :release_year
    {:description
     "The year the movie was released in theaters\n\n> datomic attribute: `:movie/release-year`. Type `:db.type/long`."
     :resolve [:stillsuit/ref #:stillsuit{:attribute :movie/release-year :lacinia-type :JavaLong}]
     :type :JavaLong}
    :title {:description "The title of the movie\n\n> datomic attribute: `:movie/title`. Type `:db.type/string`."
            :resolve     [:stillsuit/ref #:stillsuit{:attribute :movie/title :lacinia-type String}]
            :type        String}}
   :implements [:DatomicEntity]}}
 :queries {}
 :stillsuit/config #:stillsuit{:db-id-name :db_id}
 :stillsuit/enum-map nil}