{:description
 "This file contains map with keys equal to idents of all entities from DB of type 'db.type/ref'.",
 :abstractRelease/artists :ref,
 :abstractRelease/type :enum,
 :artist/country :enum,
 :artist/gender :enum,
 :artist/type :enum,
 :label/country :enum,
 :label/type :enum,
 :medium/format :enum,
 :medium/tracks  :ref,
 :release/abstractRelease :ref,
 :release/artists :ref,
 :release/country  :enum,
 :release/labels :ref,
 :release/language :enum,
 :release/media :ref,
 :release/packaging :enum,
 :release/script :enum,
 :track/artists :ref}
