{:description
 "This file contains map with keys equal to idents of all entities from DB of type 'db.type/ref'.",
 :account/brand-group :ref,
 :account/country :ref,
 :account/type :enum,
 :conto/account :ref,
 :conto/currency :ref,
 :conto/from-account :ref,
 :conto/from-currency :ref,
 :currency/account :ref,
 :currency/brand-group :ref,
 :currency/country :ref,
 :exchange-rate/from :ref,
 :exchange-rate/to :ref,
 :transaction/account :ref,
 :transaction/conto :ref,
 :transaction/currency :ref,
 :transaction/transfer :ref,
 :transaction/type :enum,
 :transfer/direction :enum,
 :transfer/from-account :ref,
 :transfer/from-currency :ref,
 :transfer/to-account :ref,
 :transfer/to-currency :ref}
